.DS_Store
__pycache__/
out/
deployment/lambda.zip
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
deployment/.terraform.lock.hcl
deployment/.terraform/
src/idna*
src/certifi*
src/request*
src/urllib*
src/charset*
src/bin
assets.db
src/pkg/database.ini
deployment/terraform-aws-postgres/.terraform.lock.hcl
.gitignore
deployment/terraform-aws-postgres/terraform.tfstate.backup
deployment/terraform-aws-postgres/modules/rds/.terraform.lock.hcl
deployment/terraform-aws-postgres/.terraform/modules/modules.json
deployment/terraform-aws-postgres/.terraform
deployment/terraform-aws-postgres/terraform.tfstate
deployment/terraform-aws-postgres/modules/rds/.terraform/